h1 {
  color: white;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

a:link, a:visited, .dropbtn {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: left; 
  text-decoration: none;
  display: inline-block;
}

a:hover, .dropdown:hover .dropbtn{
  background-color: white;
  text-align: left;
  color: black;
} 

nav, ul {
  opacity: 0.8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 0;
  list-style-type: none;
}

body{
  background-image: url(https://images.pond5.com/subtle-gradient-moving-shapes-background-footage-089496722_prevstill.jpeg);
  margin:0;
  margin-top: -10;
}

li {
  float: right;
  text-decoration: none;
  font-size:25px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  right:0;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:link {
  color: black;
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:link:hover {
	background-color: black
	color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

div.hdrScrtch1 {
  color: orange;
  text-align: center;
  border-left: 10px solid blue;
  background-color: white;
  width:475px;
  font-size:23px;
  height: 25px;
  overflow: hidden;
}

div.hdrScrtch2 {
  color: orange;
  text-align: center;
  border-left: 10px solid blue;
  background-color: white;
  width:475px;
  font-size:23px;
  height: 25px;
  margin-top: 650px;
}

div.ben{
  border-radius: 35px;
  width:1200px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: black;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
}
div.Scrtch{
  float:left;
  width:40%;
  padding-right:50px;
  padding-bottom: 50px;
  padding-top:25px;
}
div.text p{
  float:left;
  width:600px;
  height:600px;
  padding-right:50px;
  text-align: justify;
  color:white;
  border:10px;
  border-color:solid white;
  border-radius: 15px;
  font-size: 30px;
}
div.Scrtch2 {
  padding-top:10px;
}

div.polaroid {
  float:right;
  width: 30%;
  background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  margin-bottom: 25px;
  border-radius: 7px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
form.form{
  color:white;
  font-size: 20px;
}
.button1 {
  background-color: white;
  border: 5px solid red;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: white;
  border: 5px solid orange;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: white;
  border: 5px solid yellow;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {
  background-color: white;
  border: 5px solid green;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5{
  background-color: white;
  border: 5px solid blue;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
}