h1 {
  color: white;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

a:link, a:visited, .droptn {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: left; 
  text-decoration: none;
  display: inline-block;
}

a:hover, .dropdown:hover .dropbtn{
  background-color: white;
  text-align: left;
  color: black;
} 

nav, ul {
  opacity: 0.8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 0;
  list-style-type: none;
}

body{
  background-image: url(https://images.pond5.com/subtle-gradient-moving-shapes-background-footage-089496722_prevstill.jpeg);
  margin:0;
  margin-top: -10;
}

li {
  float: right;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: black
	color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: black
  color: white;
}

p {
  color: red;
  text-align: center;
  border-left: 6px solid red;
  background-color: white;
}

div.ben{
  height:100000px;
  width:1200px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: black;
}